<!DOCTYPE html>
<html lang="es">
    <head>
        <title>404 grupo 26</title>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="icon" type="image/png" href="/img/favicon.png">
    </head>
<body>
    <div class="container">
        <div class="title big spaced red">Formular una pregunta</div>

    </div>


</body>
</html>