<!DOCTYPE html>
<html lang="es">
    <head>
        <title>404 grupo 26</title>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="icon" type="image/png" href="/img/favicon.png">
    </head>
<body>
    <div class="container">
        <div class="verybig error"><%= tipo %></div>
        <div class="big error"><%= descripcion %></div>
        
        <div class="errorContainer">
            <img src="https://external-preview.redd.it/8pOPxDC3cL-uH5B1P1270slnwPvKcF0OY4Qn_8NfAX4.jpg?auto=webp&s=f2853d4de7795e1ec0fb87ce44e3b8c40fd04683" class="errorImg">
        </div>
    </div>



</body>
</html>