<div class="header">
    <div class="header-buttons">
        <a href="/preguntas" class="button-long green text-white">Preguntas</a>
        <a href="/preguntas/sinResponder" class="button-long green text-white">Sin responder</a>
        <a href="/usuarios" class="button-long green text-white">Usuarios</a>
    </div>

    <a href="/index"><img src="/img/logo.png" alt="" class="header-logo"></a>

    <div class="header-user">
        <img src="/usuarios/imagenPerfil" alt="Imagen de Perfil">
        <a class="titule-page text-white" href="/usuarios/perfil/<%= id %>">
            <%= nombre %>
        </a>
        <a href="/loginout/logout" class="button red text-white">Cerrar sesión</a>
    </div>
</div>

<div >
    <div class="search-container">
        <form action="/preguntas/busqueda" method="post" class="formSearch">
            <input type="submit" class="button-special green text-white" value="Buscar">
            <input type="text" name="busqueda" id="" class="search">
        </form>
    </div>
</div>