<!-- Figura 1-->

<!DOCTYPE html>
<html lang="es">
<head>
    <title>404 grupo 26</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="icon" type="image/png" href="../img/favicon.png">
</head>
<body>
    <div class="container">
        <img src="../img/logo.png" alt="" class="logo"/>
        <form action="/loginout/login" method="POST">
            <label for="email">Correo *</label>
            <input type="text" name="email" id="email">

            <label for="pass">Contraseña *</label>
            <input type="password" name="pass" id="pass">


            <input type="submit" value="Iniciar sesión" class="button green text-white small" >

        </form>


        <a href="/loginout/registro" class="button green text-white">Crear cuenta</a>
    </div>

    <div class="error"><%= error %></div>



</body>
</html>